*.pyc
*.pdf
*.jpg
*.png
*.JPG
*.NC
*.nc
*.npy
*.zip
*.19i
*.20i
*.21i
*.22i
*.bin
*.pb
*.index
*.pth
*.log
*.sav
*.csv
*.h5
**/models
**/*.txt
**/destarring_dataset
**/documents
**/tomo_inv
**/star_network_training
**/nc_files
**/pres
**/__pycache__
**/repo
**/ukamaci2
**/whitening_tests
python/build
python/dist
**/*.egg-info/
