*.pyc
*.pdf
*.jpg
*.png
*.JPG
*.NC
*.nc
*.npy
*.zip
**/models
**/*.txt
**/destarring_dataset
**/documents
**/nc_files
**/pres
**/__pycache__
**/repo
**/ukamaci2
**/whitening_tests
python/build
python/dist
**/*.egg-info/
